# Dependências
node_modules/

# Pasta de build (Produção)
dist/

# Logs e Cache
npm-debug.log*
.eslintcache

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente (Segurança)
.env
.env.local